<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>Giveaway Overlay</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="libs/animate.min.css">
  <script src="../../API_Key.js"></script>
  <script src="../userSettings.js"></script>
  <script src="../../GiveawayConfig.js"></script>
  <script src="../../Data/languages.js"></script>
  <script src="libs/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <div id="container">
      <div id="block">
        <transition name="slide-fade">
          <div id="header" v-if="showHeader">
            <h1>{{header.prize}}</h1>
            <div id="stats">
              <div id="gaCmd">COMMAND:
                <span>{{header.command}}</span>
              </div>
              <div id="gaPerm">PERMISSION:
                <span>{{header.permission}}</span>
              </div>
              <div id="gaInfo" v-if="header.info != ''">INFO:
                <span>{{header.info}}</span>
              </div>
              <br />
              <div id="gaTicketCost">
               TICKEST COST:  <span>{{header.ticketCost}}</span> {{header.currency}}
              </div>
              <div id="gaMaxTickets">
                MAX TICKETS: <span>{{header.maxTickets}}</span>
              </div>
              <br />
              <div id="timer">TIME REMAINING: <span>{{hours | two_digits}}:{{minutes | two_digits}}:{{seconds | two_digits}}</span></div>
            </div>
          </div>
        </transition>

        <transition name="slide-fade">
          <div id="content" v-if="showHeader && firstEntry">
            <div id="entryContainer">
              <ul>
                <transition-group name="slide-fade-in">
                  <li class='entry' v-for="(data,key,index) in entries" :key="key" v-show="!showWinner" enter-stagger="0">
                    <div class='entryName'>{{data.name}}</div>
                    <div class='entryOption'>{{data.tickets}}</div>
                  </li>
                </transition-group>
                <transition name="bounce">
                  <li class='entry' v-show="showWinner" style="width: 98%;">
                    <div class='entryName'>
                      <b>Winner:</b> {{winner.name}}</div>
                    <div class='entryOption'>
                      <b>Tickets:</b> {{winner.tickets}}</div>
                  </li>
                </transition>
              </ul>
            </div>
          </div>
        </transition>
      </div>
    </div>

  </div>
  <script src="client.js"></script>
</body>

</html>